* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  position: relative;
  height: 400px;
  width: 80%;
  margin: 50px auto;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #eee;
  border: 4px solid black;
}

.circle {
  width: 70px;
  height: 70px;
  border: 3px solid #444;
  border-radius: 50%;
  color: #222;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.circle:hover {
  cursor: pointer;
  box-shadow: 0 0 2px black;
}

.toolbar-all {
  position: absolute;
  left: 0;
  /* top: 0; */
  width: 100%;

  display: none;
  flex-basis: 10%;
  justify-content: center;
  align-items: center;

  background-color: #363D4D;
  color: white;
  padding: 10px;
  transition: 1s;
}

.top {
  display: flex;
  top: 0;
}

.bottom {
  display: flex;
  bottom: 0;
}

.toolbar-all button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: white;
}

.toolbar-all button:hover {
  cursor: pointer;
}

button.action {
  background-color: #FEBB26;
  border-radius: 2px;
  transition: .4s;
}

button.action:hover {
  transform: translateX(10%)
}

.toolbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

button.toolbar-close:hover {
  font-weight: bold;
}

.show-bar-top {
  animation: slidedown-top 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes slidedown-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hide-bar-top {
  animation: slideup-top 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes slideup-top {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.show-bar-bottom {
  animation: slidedown-bottom 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes slidedown-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hide-bar-bottom {
  animation: slideup-bottom 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes slideup-bottom {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.spinner {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

.spinner-content {
  width: 50px;
  height: 50px;
  background-color: #FEBB26;
  animation: rotate 1.4s infinite ease-in-out;
}

.visible {
  display: flex;
}

@keyframes rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  }

  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg)
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg)
  }
}

.back {
  position: absolute;
  color: white;
  text-shadow: 1px 1px black;

}

.back:hover {
  cursor: pointer;
}